[Desktop Entry]
Version=1.4.0
Encoding=UTF-8
Name=BraceletGenerator
Comment="Friendship bracelet patterns designer"
Exec=bracelet-generator %f
Icon=bracelet-generator.svg
Terminal=false
Type=Application
Categories=Graphics
StartupNotify=false
MimeType=application/x-braceletgenerator
