include bracelet-generator *.txt *.rst bracelet-generator.desktop *.py bracelet-generator.svg
recursive-include BraceletGenerator/*
recursive-include documentation *
recursive-include examples *
recursive-include po *
