body
{
    background-color:#E8ECFF;
    font-family: Arial,serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 55em
}

em
{
    font-weight: bold;
    font-style: normal
}

#fin
{
    font-size: x-large;
    text-align: center
}


.code
{
    font-family: sans-serif;
    color:#000418;
    background-color:#D5DCFF;
    border:2px #00126B solid;
    max-width: 35em;
    border-radius:10px;
    padding:1em
}

h1
{
    text-align: center;
}

#logo
{
    display: inline-block;
    vertical-align: middle;
    padding:1em
}

.image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0.5em
}

#tableofcontent
{
    display: inline-block;
    vertical-align: middle;
    margin: 0.1em;
    margin-right: 1em;
    line-height:1.1em
}

#tableofcontent a
{
    text-decoration: none;
    color: #000000;
}

#tableofcontent a:hover
{
    color: #010760;
    border-bottom: 2px solid #010760;
}

#licence
{
    display: inline-block;
    vertical-align: middle;
    font-size: small;
    max-width:30em;
    margin:0.1em;
    margin-left: 1em;
    padding:1em
}

.icone
{
    display: inline-block;
    vertical-align: middle;
    padding-right:1em
}

span
{
    font-style: italic
}

.liste
{
    line-height:2em
}

.bouton
{
    vertical-align: middle
}

#langues
{
    display: block;
    vertical-align: top;
    margin-left: auto;
    font-size: 0.9em;
    float: right;
}
#langues a
{
    text-decoration: none;
    color: #000000;
}

#langues a:hover
{
    color: #010760;
    border-bottom: 2px solid #010760;
}

#centre
{
text-align: center
}

.two
{
padding: 30px;
vertical-align : center
}

nav
{
display: inline-block;
margin-left: -2.5em;
width: 740px;
text-align: left;
}
nav ul
{
list-style-type: none;
}
nav li
{
display: inline-block;
margin-right: 15px;
}
nav a
{
font-size: 1.3em;
color: #181818;
padding-bottom: 3px;
text-decoration: none;
}
nav a:hover
{
color: #010760;
border-bottom: 3px solid #010760;
}


