Source: bracelet-generator
Maintainer: Juliette Monsel <j_4321@protonmail.com>
Section: devel
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 7.4.3)
Standards-Version: 3.9.1





Package: bracelet-generator
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3, python3-tk, python3-pil, ghostscript, gettext
Recommends: zenity
Description: Friendship bracelet pattern designer
 Bracelet Generator is a friendship bracelet pattern designer.
 It enables you to easily design your own patterns, add rows and strings,
 change the colors. With the two-colored motif editor, create your motif
 and the pattern will automatically be generated. The patterns can be
 exported in .png, .jpe, .ps and in text format.
Homepage: https://braceletgenerator.sourceforge.io/index.html
