[Desktop Entry]
Version=1.4.0
Encoding=UTF-8
Name=BraceletGenerator
Comment="Friendship bracelet patterns designer"
Exec=bracelet-generator
Icon=bracelet-generator
Terminal=false
Type=Application
Path=/usr/share/bracelet-generator
Categories=Graphics
StartupNotify=false
MimeType=application/x-bracelet;application/x-bicolor
