Package: bracelet-generator
Version: 1.4.0
Section: devel
Priority: optional
Architecture: all
Pre-Depends: python
Depends: make, python3, python3-tk, python3-pil, ghostscript, gettext
Recommends: zenity
Maintainer: Juliette Monsel <j_4321@protonmail.com> 
Description: Friendship bracelet pattern designer
 Bracelet Generator is a friendship bracelet pattern designer.
 It enables you to easily design your own patterns, add rows 
 and strings, change the colors. With the two-colored motif 
 editor, create your motif and the pattern will automatically 
 be generated. The patterns can be exported in .png, .jpeg and .ps.
Homepage: https://braceletgenerator.sourceforge.io/index.html
